<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title GTC-Visualization
        link(rel="stylesheet" href="stylesheets/tabs.css")
        script(src="javascripts/plotly-latest.min.js")
    body
        p= `Current GTC output folder set to ${dir}`
        div(id="tabs")
            each panel in types
                div
                    input(id=panel, type="radio" name="plot-type" class="tab-l0-switch")
                    label(for=panel, class="tab-l0-label")= panel
                    if panel === 'Snapshot'
                        div(id="files")
                            each file in snapFiles
                                button(id=file)= file

        div(id="panel")
            each panel in types
                div(id=`${panel}-panel`, class="tabs-l1")
                    if panel === 'Equilibrium'
                        div
                            form
                                div(id="eq-x")
                                div(id="eq-y")
                                button(type="submit") Plot Y vs X
                        

        div(id='figure-wrapper')
            each i in [1, 2, 3, 4]
                div(id=`figure-${i}`)

    script(src="javascripts/index.js")

