doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title GTC-Visualization
        link(rel="stylesheet" href="stylesheets/tabs.css")
        script(src="javascripts/plotly-custom.min.js" defer)
        script(type="module" src="javascripts/index.js" defer)
        script(src="libs/mathjax/MathJax.js?config=TeX-AMS-MML_SVG" defer)
        script(src="libs/fftw-js/bundle.js" defer) 
    body
        code(id='outputTag' style="display:none")= outputTag
        p(id='status')= `Current GTC output folder set to ${dir}`
        form(id='download-output')
            div(id="download-overlay")
                img(src="loading.gif", alt="loading")
            input(type="submit" id="download-all" value="Download all files")
            button Expand/Collapse file list
            select(name="file-list" size=fileList.length multiple) 
                each file in fileList
                    option(value=file)= file
            input(type="submit" id="download-part" value="Download selected file(s)")
        div(id="tabs")
            each panel in types
                div
                    input(id=panel, type="radio" name="plot-type" class="tab-l0-switch")
                    label(for=panel, class="tab-l0-label")= panel
                    if panel === 'Snapshot'
                        div(id="files" class='dropdown')
                            each file in snapFiles
                                button(id=file)= file

        div(id="panel")
            each panel in types
                div(id=`${panel}-panel`, class="tabs-l1")
                    if panel === 'Equilibrium'
                        form
                            header X
                            div(id="eq-x")
                            header Y
                            div(id="eq-y")
                            button(type="submit") Plot Y vs X
                        

        div(id='figure-wrapper')
            each i in [1, 2, 3, 4]
                div(id=`figure-${i}`)

        div(id='loading')
            img(src="loading.gif", alt="loading")

        div(id='container')
            div(id='summary-page')
