doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title GTC-Visualization
        link(rel="stylesheet" href="stylesheets/tabs.css")
        script(src="javascripts/plotly-custom.min.js" defer)
        script(type="module" src="javascripts/index.js" defer)
        script(id="MathJax-script" src="libs/mathjax/tex-svg.js" defer)
        script(src="libs/fftw-js/bundle.js" defer) 
    body
        code#outputTag(style="display:none")= outputTag
        #folder-path
            span Current GTC output folder set to
            #folder-path-container
                #breadcrumb-container.breadcrumb
                    span= dir
        #select-compare
            input#select-compare-goto(type="radio" name="select-compare-radio" checked)
            label(for="select-compare-goto") Go to selected folder
            input#select-compare-compare(type="radio" name="select-compare-radio")
            label(for="select-compare-compare") Select Folder to Compare
        p#status
        form#download-output
            #download-overlay
                img(src="loading.gif", alt="loading")
            input#download-all(type="submit" value="Download all files")
            button Expand/Collapse file list
            select(name="file-list" size=fileList.length multiple) 
                each file in fileList
                    option(value=file)= file
            input#download-part(type="submit" value="Download selected file(s)")
        #tabs
            each panel in types
                div
                    input(id=panel, type="radio" name="plot-type" class="tab-l0-switch" disabled)
                    label(for=panel, class="tab-l0-label")= panel
                    if panel === 'Snapshot'
                        #files.dropdown
                            each file in snapFiles
                                button(id=file)= file

        #panel
            each panel in types
                .tabs-l1(id=`${panel}-panel`)
                    if panel === 'Equilibrium'
                        form
                            header X
                            #eq-x
                            header Y
                            #eq-y
                            button(type="submit") Plot Y vs X
                        

        mixin figure_container(id)
            div.figure-wrapper(id=id)
                each i in [1, 2, 3, 4]
                    div(id=`${id}-figure-${i}`)
        
        +figure_container('figure-wrapper')
        +figure_container('figure-wrapper-compare')

        #loading
            img(src="loading.gif", alt="loading")

        #container
            #summary-page

        #poloidal-preview

        - let n = 0
        #gtc-instance-indicator-template.gtc-instance-indicator
            while n < 4
                div(class=`gtc-instance-${n++}`)
